[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
chromadb-client = "*"
fastapi = "*"
FlagEmbedding = "*"
google-cloud-aiplatform = "*"
peft = "*"  # XXX: required by FlagEmbedding, but not in setup.py before 1.0.6
pyarrow = "<=17.0.0"
typing-extensions = "*"
uvicorn = "*"

[dev-packages]
black = "*"
mypy = "*"
ruff = "*"

[requires]
python_version = "3.11"
