[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
click = "*"
google-cloud-aiplatform = "*"
google-cloud-storage = "*"
jsonlines = "*"
rich = "*"
scikit-learn = "*"

[dev-packages]
black = "*"
ruff = "*"

[requires]
python_version = "3.11"
