[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
chromadb = "*"
click = "*"
jsonlines = "*"
google-cloud-storage = "*"
FlagEmbedding = "*"
numpy = "*"
pandas = "*"
peft = "*"  # Required by FlagEmbedding, but not in setup.py before 1.0.6

[dev-packages]
black = "*"
ruff = "*"

[requires]
python_version = "3.11"
