[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true

[packages]
chromadb-client = "*"
click = "*"
FlagEmbedding = "*"
google-cloud-storage = "*"
numpy = "*"
rich = "*"
scikit-learn = "*"
torch = {version = "*", index = "pytorch-cpu"}

[dev-packages]
black = "*"
ruff = "*"

[requires]
python_version = "3.11"
